/// Slightly lighten a color
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

header {
  background: linear-gradient(150deg,#79B865 15%,#61B461 70%,#6BA56A 94%);
}

.hero-img {
	max-width: 600px;
	min-width: 300px;
	width: 100%;
	margin-bottom: ($spacer * -3)
}

.service-img {
	max-width: 300px;
	min-width: 200px;
	width: 100%;
	// width: 100%;
}

@include media-breakpoint-down(sm) {
	.card {
		margin-bottom: $spacer;
	}
}
.bg-blue-light {
	background-color: tint($blue, 90%)
}